.login{
	position: absolute;
	left: 10px;
	top: 0;
	line-height: 50px;
	color: #ffffff;
	padding: 0 20px;
	cursor: pointer;
	z-index:10;
}
.head{
	height: 50px;
	padding: 10px;
	position: relative;
	background-color: #2d8cf0;
}
.head .head-menu{
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 10px;
	top: 0;
}
.head-menu li{
	margin: 0 12px;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
}
.head-menu a{
	display: inline-block;
	padding: 0 20px;
}
.banner{
	width: 100%;
	text-align: center;
	background-color: #74c0f2;
}
.banner img{
	width: 980px;
}
.title{
	padding: 20px 32px;
	font-size: 24px;
	line-height: 48px;
	background-color: #2d8cf0;
	color: #ffffff;
}
.tool{
	display: flex;
	justify-content: space-around;
	padding: 8px;
}
.tool li{
	width: 200px;
	font-size: 16px;
	text-align: center;
}
.tool .tool-logo{
	width: 100px;
	height: 100px;
}
.tool .tool-name{
	margin-top: 10px;
}
.tool .button-list{
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}
.button-list .button{
	width: 80px;
	height: 30px;
	border-radius: 4px;
	background-color: #74c0f2;
	color: #ffffff;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.button-list .button.disable{
	background-color: #e5e5e5;
	cursor: not-allowed;
}