<html>
	<head>
		<meta charset="utf-8">
		<title>微页面预览</title>
		<style type="text/css">
			[v-cloak]{
				opacity:0;
			}
		</style>
		<script src="../../assets/js/jquery-1.12.4.min.js"></script>
	</head>
	<body>
		<div class="view-page">
			<div class="view-page-head"></div>
			<div class="view-page-content">
				<iframe id="weipageView" src="/weipage/mobile"></iframe>
			</div>
			<ul class="export-list">
				<li>
					<img class="export-logo" src="../../../assets/img/weipage/html5.jpeg" />
					<p class="export-name">导出h5</p>
				</li>
				<li>
					<img class="export-logo" src="../../../assets/img/weipage/wechat.jpeg" />
					<p class="export-name">导出微信小程序</p>
				</li>
				<li>
					<img class="export-logo" src="../../../assets/img/weipage/zhifubao.jpeg" />
					<p class="export-name">导出支付宝小程序</p>
				</li>
			</ul>
		</div>
		<script>
			function pageReload(r) {
				window.location.href = r
			}
		</script>
	</body>
</html>