body{
	width:375px;
	overflow-x:hidden;
}
.weipage{
	background-image:url('../../../assets/img/weipage/net.png');
	width:375px;
	min-height:100vh;
}
.plugin{
	cursor:pointer;
}
.plugin.clone{
	position:fixed !important;
	cursor:pointer;
	z-index:100;
}
.plugin.drop{
	opacity:0.5;
}
.plugin .drop-icon{
	position:absolute;
	top:0;
	right:0;
	cursor:move;
	display:none;
}
.plugin:hover{
	box-shadow: 0 0 1px #138ed4 inset;
}
.plugin:hover>.drop-icon{
	display:inline-block;
}
.plugin .resize-icon{
	position:absolute;
	bottom:0;
	right:0;
	transform:rotate(90deg);
	cursor:se-resize;
	display:none;
}
.plugin:hover>.resize-icon{
	display:inline-block;
}