body{
	width:375px;
	overflow-x:hidden;
}
.plugin{
	cursor:pointer;
}
.plugin.current{
	box-shadow:0 0 1px 1px #138ed4;
	z-index:2;
}
.plugin.clone{
	position:fixed !important;
	cursor:pointer;
	z-index:100;
}
.plugin.drop{
	opacity:0.5;
}