<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../assets/css/iview/iview.css">
		<script src="../assets/js/jquery-1.12.4.min.js"></script>
		<script src="../assets/js/vue.js"></script>
		<script src="../assets/js/iview.min.js"></script>
	</head>
	<body>
		<div id="login" v-cloak>
			<div class="login-dialog">
				<p class="login-title">登录</p>
				<i-form :label-width="60">
					<form-item label="账户">
						<i-input v-model="formData.phone"></i-input>
					</form-item>
					<form-item label="验证码">
						<i-input v-model="formData.code"></i-input>
					</form-item>
				</i-form>
				<div class="submit">
					<i-button type="primary" @click="login">登录</i-button>
				</div>
			</div>
		</div>
	</body>
</html>