<html>
	<head>
		<meta charset="utf-8">
		<title>微页面</title>
		<style type="text/css">
			[v-cloak]{
				opacity:0;
			}
		</style>
		<link rel="stylesheet" href="../../src/css/iview/iview.css">
		<script src="../../src/js/jquery-1.12.4.min.js"></script>
		<script src="../../src/js/vue.js"></script>
		<script src="../../src/js/iview.min.js"></script>
	</head>
	<body>
		<div id="weipage" class="weipage" v-cloak>
			<div class="menu-page">
				<p class="menu-title">工具</p>
				<ul class="tool-list">
					<li @click="insertPlugin('panel')">面板</li>
					<li @click="insertPlugin('text')">文本</li>
					<li @click="insertPlugin('image')">图片</li>
					<li @click="insertPlugin('form')">表单</li>
				</ul>
				<p class="menu-title">快捷</p>
				<ul class="tool-list">
					<li @click="openPluginTreeModel('')">插件树</li>
					<li @click="openFormTreeModel('')">表单树</li>
				</ul>
			</div>
			<div class="view-page">
				<div class="view-page-head" @click="selectPlugin('')"></div>
				<div class="view-page-content">
					<div>
						<template v-for="item in pluginList">
							<panel-view
								v-if="item.pluginType == 'panel'"
								:view-data="item"
								:select-plugin-id="selectPluginId">
							</panel-view>
							<text-view
								v-else-if="item.pluginType == 'text'"
								:view-data="item"
								:select-plugin-id="selectPluginId">
							</text-view>
							<image-view
								v-else-if="item.pluginType == 'image'"
								:view-data="item"
								:select-plugin-id="selectPluginId">
							</image-view>
							<form-view 
								v-else-if="item.pluginType == 'form'"
								:view-data="item"
								:select-plugin-id="selectPluginId">
							</form-view>
						</template>
					</div>
				</div>
			</div>
			<div class="edit-page" v-if="editForm">
				<ul class="tab-control" v-if="editForm.pluginType == 'panel'">
					<li :class="{current: selectForm == 'base'}" @click="changeFormTab('base')">基础</li>
					<li :class="{current: selectForm == 'style'}" @click="changeFormTab('style')">样式</li>
					<li :class="{current: selectForm == 'event'}" @click="changeFormTab('event')">事件</li>
				</ul>
				<ul class="tab-control" v-else-if="editForm.pluginType == 'form'">
					<li :class="{current: selectForm == 'base'}" @click="changeFormTab('base')">基础</li>
					<li :class="{current: selectForm == 'style'}" @click="changeFormTab('style')">样式</li>
				</ul>
				<ul class="tab-control" v-else>
					<li :class="{current: selectForm == 'base'}" @click="changeFormTab('base')">基础</li>
				</ul>
				<div class="remove-plugin" @click="removePlugin(editForm.pluginId)"></div>
				<template v-if="selectForm == 'base'">
					<panel-base-form
						v-if="editForm.pluginType == 'panel'"
						:form-data="editForm.base"
						@open-interface-tree-model="openInterfaceTreeModel"
						@action-image="selectImage">
					</panel-base-form>
					<text-base-form
						v-else-if="editForm.pluginType == 'text'"
						:form-data="editForm.base"
						@open-interface-tree-model="openInterfaceTreeModel">
					</text-base-form>
					<image-base-form
						v-else-if="editForm.pluginType == 'image'"
						:form-data="editForm.base"
						@open-interface-tree-model="openInterfaceTreeModel"
						@select-image="selectImage">
					</image-base-form>
					<form-base-form
						v-else-if="editForm.pluginType == 'form'"
						:form-data="editForm.base"
						@open-interface-tree-model="openInterfaceTreeModel">
					</form-base-form>
				</template>
				<template v-if="selectForm == 'style'">
					<panel-style-form
						v-if="editForm.pluginType == 'panel'"
						:form-data="editForm.style"
						@select-image="selectImage">
					</panel-style-form>
					<form-style-form
						v-else-if="editForm.pluginType == 'form'"
						:form-data="editForm.style">
					</form-style-form>
				</template>
				<template v-if="selectForm == 'event'">
					<panel-event-form
						v-if="editForm.pluginType == 'panel'"
						:form-data="editForm.event"
						:base-data="editForm.base"
						:weipage-data="weipage"
						@open-interface-model="openInterfaceModel"
						@open-plugin-tree-model="openPluginTreeModel"
						@open-interface-tree-model="openInterfaceTreeModel"
						@open-form-tree-model="openFormTreeModel">
					</panel-event-form>
				</template>
			</div>
			<div class="edit-page" v-else>
				<ul class="tab-control">
					<li :class="{current: selectForm == 'base'}" @click="changeFormTab('base')">微页面</li>
					<li :class="{current: selectForm == 'scroll'}" @click="changeFormTab('scroll')">滚动条</li>
					<li :class="{current: selectForm == 'count'}" @click="changeFormTab('count')">计数器</li>
				</ul>
				<weipage-base-form
					v-if="selectForm == 'base'"
					:form-data="weipage"
					@open-interface-model="openInterfaceModel"
					@select-image="selectImage">
				</weipage-base-form>
				<weipage-scroll-form
					v-else-if="selectForm == 'scroll'"
					:form-data="weipage" 
					@open-plugin-tree-model="openPluginTreeModel"
					@open-interface-model="openInterfaceModel"
					@open-interface-tree-model="openInterfaceTreeModel">
				</weipage-scroll-form>
				<weipage-count-form
					v-else-if="selectForm == 'count'"
					:form-data="weipage">
				</weipage-count-form>
			</div>

			<ul class="foot-btn-list">
				<li><i-button type="info" @click="saveWeipage">保存</i-button></li>
				<li><i-button type="success" v-if="weipageId" @click="weipageShowView">预览</i-button></li>
			</ul>

			<Modal 
				v-model="interfaceModel"
				title="接口列表">
					<i-table stripe :columns="interfaceTable" :data="interfaceTableData.list"></i-table>
					<div class="table-page">
						<Page :total="interfaceTableData.total" :current="interfaceTableData.page" @on-change="changeInterfacePage"></Page>
					</div>
			</Modal>

			<Modal
				v-model="imageModel"
				title="图片列表">
					<ul class="image-model-list">
						<li v-for="item in imageTabelData.list" class="image-model-item">
							<img :src="item.url" @click="imageModelSelect(item.url)" />
							<i class="delete"></i>
						</li>
					</ul>
					<div style="margin-left:12px">
						<input class="hidden" id="file" type="file" />
						<i-button type="info" @click="uploadImage">上传</i-button>
					</div>
			</Modal>

			<Modal
				v-model="pluginTreeModel"
				title="插件树">
				<plugin-tree
					:plugin-list="pluginList"
					:select-plugin-id="selectPluginId"
					@plugin-tree-select="pluginTreeSelect">
				</plugin-tree>
			</Modal>

			<Modal
				v-model="interfaceTreeModel"
				title="接口树">
				<interface-tree
					:interface-list="interfaceTree"
					@select-interface-param="selectInterfaceParam">
				</interface-tree>
			</Modal>

			<Modal
				v-model="formTreeModel"
				title="表单树">
				<form-tree
					:plugin-list="pluginList"
					@form-tree-select="formTreeSelect">
				</form-tree>
			</Modal>
		</div>
	</body>
</html>